.banner-social{
	display: flex;
	align-items: center;
	justify-content: center;

	div{
		color: white;
		text-align: center;
		text-transform: uppercase;

		.fa-instagram, .fa-twitter{
			font-size: 60pt;
		}
		.fa-window-minimize{
			font-size: 30pt;	
			margin-bottom: 1.5rem;

		}

		h1{
			font-size: 50pt;
			letter-spacing: 1rem;
			margin-bottom: -.5rem;
		}
		h6, p{
			margin: 0;
			font-size: 13pt;
			font-weight: 100;
		}
	}
}
.instagram-banner{
	background-color: #e84393;
	@extend .banner-social;
}
.twitter-banner{
	background-color: #3498db;
	@extend .banner-social;
}