*{
	box-sizing: border-box;
}
body{
	// background-image: linear-gradient(to bottom right, #8e44ad, #34495e);
	background: url('../img/bg/pattern.png'),
					  linear-gradient(to bottom right, #4db6ac, #4caf50);


	section{
		padding: 7rem 0;
	}
}