header{
	// border: 1px solid red;
	// height: 300px;
	padding: 4rem 0 3rem 0;

	h1{
		font-size: 50pt;
	}

	h1, p{
		text-align: center;
		font-family: 'Baloo'
	}

	

	// div{
	// 	border: 1px solid orange;
	// 	display: flex;
	// 	justify-content: center;

	// 	font-family: 'Baloo'
	// }
}