.instagram-banner{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e84393;
	height: 100vh;

div{
		color: white;
		text-align: center;
		text-transform: uppercase;

		.fa-instagram{
			font-size: 60pt;
		}
		.fa-window-minimize{
			font-size: 30pt;	
			margin-bottom: 1.5rem;

		}

		h1{
			font-size: 60pt;
			letter-spacing: 1rem;
			margin-bottom: -.5rem;
		}
		h6, p{
			margin: 0;
			font-size: 13pt;
			font-weight: 100;
		}
	}
}