.redes-sociais-font-awesome{
	p{
		margin: 0;
		height: 30vh;
		display: flex;
		align-items: center;
		justify-content: center;

		a{
			color: $cor-padrao;
			font-size: 30pt;
			padding: 0 .75rem;
			transition: $transition;

			&:hover{
				color: $cor-background;
				font-size: 40pt;
			}
		}
	}
}

.contato-email{
	display: flex;
	justify-content: center;

	a{
		font-size: 14pt;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;

		color: $cor-padrao;

		border: .2rem solid $cor-padrao;
		border-radius: 5rem;
		padding: 1rem 3rem;

		transition: $transition;
		box-shadow: 0 5px 0 $cor-background;

		&:hover{
			color: $cor-background;
			background-color: $cor-padrao;
			border: .2rem solid transparent;
		}

		&:active{
			transform: translatey(5px);
			box-shadow: none;
		}
	}
}