.redes-sociais-font-awesome{
	p{
		margin: 0;
		height: 15vh;
		display: flex;
		align-items: center;
		justify-content: center;

		a{
			color: $cor-padrao;
			font-size: 30pt;
			padding: 0 1rem;
			transition: $transition;
	
			&:hover{
				color: $cor-background;
				font-size: 40pt
			}
		}
	}
}

.contato{
	text-align: center;
	// border: 1px solid red;	
	margin-top: 3rem;

	a{
		color: $cor-padrao;
		transition: $transition;
		font-weight: bold;
		padding: 1rem 3rem;
		border-radius: 5rem;
		text-decoration: none;
		border: .2rem solid $cor-padrao;	
		text-transform: uppercase;
		font-size: 14pt;
		box-shadow: 0 5px 0 $cor-background;

		&:hover{
			color: $cor-background;
			background-color: $cor-padrao;
			border: .2rem solid transparent;
			
			box-shadow: none;
			// -ms-transform: translate(50px, 100px); /* IE 9 */
			// -webkit-transform: translate(50px, 100px); /* Safari */
			transform: translate(20px);
		}
	}
}